@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 100% 95%;
    --foreground: 176 5% 0%;
    --card: 176 50% 90%;
    --card-foreground: 176 5% 10%;
    --popover: 176 100% 95%;
    --popover-foreground: 176 100% 0%;
    --primary: 176 77% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 138 30% 85%;
    --muted-foreground: 176 5% 35%;
    --accent: 138 30% 80%;
    --accent-foreground: 176 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176 5% 90%;
    --border: 176 30% 50%;
    --input: 176 30% 18%;
    --ring: 176 77% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 176 50% 5%;
    --foreground: 176 5% 90%;
    --card: 176 50% 0%;
    --card-foreground: 176 5% 90%;
    --popover: 176 50% 5%;
    --popover-foreground: 176 5% 90%;
    --primary: 176 77% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 138 30% 15%;
    --muted-foreground: 176 5% 60%;
    --accent: 138 30% 15%;
    --accent-foreground: 176 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176 5% 90%;
    --border: 176 30% 18%;
    --input: 176 30% 18%;
    --ring: 176 77% 60%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .big-radial {
    background-image: radial-gradient(100% 70% at 50% 50%, transparent 50%, hsl(var(--primary)));
  }
}