@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 0% 95%;
    --foreground: 205 0% 0%;
    --card: 205 0% 90%;
    --card-foreground: 205 0% 10%;
    --popover: 205 0% 95%;
    --popover-foreground: 205 95% 0%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 167 10% 85%;
    --muted-foreground: 205 0% 35%;
    --accent: 167 10% 80%;
    --accent-foreground: 205 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 205 0% 90%;
    --border: 205 20% 50%;
    --input: 205 20% 18%;
    --ring: 205 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 205 10% 5%;
    --foreground: 205 0% 90%;
    --card: 205 0% 0%;
    --card-foreground: 205 0% 90%;
    --popover: 205 10% 5%;
    --popover-foreground: 205 0% 90%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 167 10% 15%;
    --muted-foreground: 205 0% 60%;
    --accent: 167 10% 15%;
    --accent-foreground: 205 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 205 0% 90%;
    --border: 205 20% 18%;
    --input: 205 20% 18%;
    --ring: 205 100% 50%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .big-radial {
    background-image: radial-gradient(100% 70% at 50% 50%, transparent 50%, hsl(var(--primary)));
  }
}